flight-status/src/workflows/startFlightsSimulation.asl.yaml
QueryLanguage: JSONata
Comment: Start flights simulation
StartAt: List current executions
States:
  List current executions:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:sfn:listExecutions
    Next: Choice
    Arguments:
      StateMachineArn: '{% $states.context.StateMachine.Id %}'
      StatusFilter: RUNNING
    Output:
      running: '{% $reverse($states.result.Executions) %}'
    Assign:
      flights: '{% $states.input.flights %}'
  Choice:
    Type: Choice
    Default: Success
    Choices:
      - Next: Simulate flights
        Condition: '{% $states.input.running[0].Name = $states.context.Execution.Name %}'
  Simulate flights:
    Type: Map
    Items: '{% $flights %}'
    Next: Success
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: Wait
      States:
        Wait:
          Type: Wait
          Next: Simulate flight
          Seconds: '{% $floor($random() * (${MaxSecondsToNextFlight} - 10)) + 10 %}'
        Simulate flight:
          Type: Task
          Resource: arn:aws:states:::states:startExecution.sync:2
          End: true
          Arguments:
            StateMachineArn: ${MockFlightStatusArn}
            Input: '{% $states.input %}'
  Success:
    Type: Succeed
